.form {
	position: relative;
	width: 100%;
}

.text {
	font-family: var(--TTNorms);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

.form__input {
	composes: text;
	height: 28px;
	width: 100%;
	border: none;
	padding: 0 0 0 10px;
}

.form__input:focus {
	outline-color: #000;
	outline-style: solid;
}

.form__input::placeholder {
	text-align: center;
	color: var(--accent-red-300);
}

.form__submitBtn {
	position: absolute;
	right: 0px;
	top: 4px;
	border: none;
	background-color: transparent;
	composes: text;
	color: var(--accent-red-300);
}