.form {
	position: relative;
	width: 100%;
}

.text {
	font-family: var(--TTNorms);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

.form__input {
	background-color: transparent;
	composes: text;
	height: 28px;
	width: 100%;
	border: none;
	padding: 0 40px 0 10px;
}

.form__input:focus {
	border: 1px solid #000;
	border-radius: 5px;
	outline: none;
}

.form__input::placeholder {
	text-align: center;
	color: var(--accent-red-300);
}

.form__submitBtn {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 4px;
	border: none;
	background-color: transparent;
	composes: text;
	color: var(--accent-red-300);
}