.customInput {
	box-sizing: border-box;
	width: 100%;
	max-width: 356px;
	min-height: 44px;
	padding: 12px 15px;

	color: var(--grey-600);
	border: 1px solid var(--grey-500);
	border-radius: 5px;
	outline: none;
	background-color: var(--grey-100);

	font-family: var(--TTNorms);
	font-size: 16px;
}

.customInput:focus {
	border-color: var(--grey-600);
}

.customInput::placeholder {
	color: var(--grey-500);
}

.customInput__wrapper {
	width: 100%;
}

.customInput__message {
	display: block;

	max-width: 356px;
	min-height: 20px;
	margin: 5px 0 0;

	text-align: left;

	color: var(--grey-500);

	font-family: var(--TTNorms);
	font-size: 14px;
}

.customInput__message_type_error {
	color: var(--attention-strong);
}
