.navMenu {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
	gap: 25px;
}

.navMenu__link {
	transition: color 0.3s ease-in;

	color: var(--grey-600);

	font-family: var(--TTNorms);
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
}

.navMenu__link_active {
	color: var(--accent-red-400);
}

.navMenu__link:hover {
	color: var(--accent-red-400);
}
