.signupSuccessMessage__text {
	margin: 0;

	text-align: center;

	font-family: var(--TTNorms);
	font-size: 20px;
}

.signupSuccessMessage__button {
	width: 100%;
	margin-top: 50px;
	padding: 15px 35px;

	font-size: 20px;
}
