.passwordInput {
  min-height: 44px;
  box-sizing: border-box;
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid var(--grey-500);
  width: 100%;
  font-family: var(--TTNorms);
  font-size: 16px;
  background-color: transparent;
  color: var(--grey-600);
  outline: none;
}

.passwordInput__label {
  position: relative;
  margin: 0 auto;
  max-width: 356px;
  width: 100%;
}

.passwordInput::placeholder {
  color: var(--grey-500);
}

.passwordInput_type_invalid {
  color: var(--attention-strong);
  border: 1px solid var(--attention-strong);
}

.passwordInput__message {
	display: block;

	max-width: 356px;
	min-height: 20px;
	margin: 5px 0 0;

	text-align: left;

	color: var(--grey-500);

	font-family: var(--TTNorms);
	font-size: 14px;
}

.passwordInput__message_type_error {
	color: var(--attention-strong);
}

.passwordInput__setVisibleBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  top: calc(50% - 22px);
  background-position: center;
  background-repeat: no-repeat;
}

.passwordInput__setVisibleBtn_type_hide {
  background-image: url(./hide.svg);
}

.passwordInput__setVisibleBtn_type_show {
  background-image: url(./show.svg);
}