.passwordInput {
	box-sizing: border-box;
	width: 100%;
	min-height: 44px;
	padding: 12px 15px;

	color: var(--grey-600);
	border: 1px solid var(--grey-500);
	border-radius: 5px;
	outline: none;
	background-color: transparent;

	font-family: var(--TTNorms);
	font-size: 16px;
}

.passwordInput__label {
	position: relative;

	width: 100%;
	max-width: 356px;
	margin: 0 auto;
}

.passwordInput::placeholder {
	color: var(--grey-500);
}

.passwordInput_type_invalid {
	color: var(--attention-strong);
	border: 1px solid var(--attention-strong);
}

.passwordInput__message {
	display: block;

	max-width: 356px;
	min-height: 20px;
	margin: 5px 0 0;

	text-align: left;

	color: var(--grey-500);

	font-family: var(--TTNorms);
	font-size: 14px;
}

.passwordInput__message_type_error {
	color: var(--attention-strong);
}

.passwordInput__setVisibleBtn {
	position: absolute;
	top: calc(50% - 22px);
	right: 15px;

	width: 20px;
	height: 20px;

	cursor: pointer;

	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}

.passwordInput__setVisibleBtn_type_hide {
	background-image: url("./hide.svg");
}

.passwordInput__setVisibleBtn_type_show {
	background-image: url("./show.svg");
}
