.setPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setPasswordForm__caption {
  text-align: center;
  font-size: 14px;
  color: var(--grey-600);
  margin: 10px 0 0;
  font-family: var(--TTNorms);
}

.setPasswordForm__fieldset {
  border: none;
  margin: 30px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 356px;
  width: 100%;
}

.setPasswordForm__button {
  width: 100%;
  margin-top: 10px;
}