.offer__header {
	display: grid;
	grid-template-columns: 484px 390px;
	grid-template-areas:
		"slider title"
		"slider price"
		"slider info"
		"slider info"
		"slider .";
	gap: 35px 48px;

	margin: 0 0 50px;
}

.offer__slider {
	grid-area: slider;
}

.offer__caption {
	color: var(--grey-500);

	font-family: var(--TTNorms);
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	max-width: 200px;
	text-overflow: ellipsis;
}

.offer__additional {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 390px;
	margin: 0;

	word-wrap: break-word;

	color: var(--grey-600);

	font-family: var(--TTNorms);
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 30px;
	grid-area: seller;
}

.offer__link {
	width: fit-content;
}

.offer__title {
	width: 100%;
	max-width: 390px;
	margin: 0;

	word-break: break-all;

	font-size: 21px;
	font-weight: 500;
	font-style: normal;
	line-height: 27px;
	grid-area: title;

	display: flex;
	flex-direction: column;
	gap: 15px 0;
}

.offer__type {
	composes: offer__caption;
}

.offer__price {
	width: 100%;
	max-width: 280px;
	margin: 0;

	word-break: break-all;

	color: var(--accent-red-400);

	font-family: var(--RobotoSlab);
	font-size: 21px;
	font-weight: 500;
	font-style: normal;
	line-height: 27px;
	grid-area: price;
}

.offer__additionalInfoWrapper {
	grid-area: info;
	display: flex;
	flex-direction: column;
	gap: 35px 0;
}

.offer__categories {
	composes: offer__additional;
}

.offer__seller {
	composes: offer__additional;
	color: var(--link);
}







