.sectionTitle {
	box-sizing: border-box;
	min-width: 400px;
	padding-left: 165px;

	color: #182339;
	background-image: url("../../images/section-title-background.svg");
	background-position: left;
	background-size: cover;

	font-family: RobotoSlab, Arial, sans-serif;
	font-size: 45px;
}
