.sectionTitle {
	box-sizing: border-box;
	min-width: 400px;
	padding-left: 165px;

	color: var(--accent-blue-400);
	background-image: url("../../images/section-title-background.svg");
	background-position: left;
	background-size: cover;

	font-family: var(--RobotoSlab);
	font-size: 45px;
}
