.controls__nav {
	display: flex;

	margin: 0;
	padding: 0;

	list-style-type: none;
	gap: 0 10px;
}

.controls__link {
	display: block;

	padding: 3px 15px;

	border: 1px solid var(--grey-400);
	border-radius: 10px;
	background: var(--grey-300);

	font-family: var(-TTNorms);
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 17px;
}

.controls__addBtn {
  composes: controls__link
}

.controls__link_active {
	border: 1px solid var(--accent-blue-400);
}


.search {
	display: flex;
	align-items: center;
  position: relative;
}

.text {
	font-family: var(--TTNorms);
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	line-height: 14px;
}

.search__input {
	width: 100%;
	max-width: 222px;
	height: 25px;
	padding: 0 7px 0 25px;

	color: var(--grey-600);
	border: 1px solid var(--accent-blue-200);
	border-radius: 5px;

	background: var(--grey-100);
	composes: text;
}

.search__input::placeholder {
	color: var(--grey-500);

	font-family: inherit;
}

.search__input:focus {
	border: 1px solid  var(--grey-100);
	outline: none;
}

.search__button {
	box-sizing: border-box;
	width: 15px;
  height: 15px;
  position: absolute;
  left: 6.5px;
	cursor: pointer;
  background-image: url("../../../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
	border: none;
	background-color: transparent;
}

.directory {
  max-width: 298px;
  width: 100%;
  background-color: var(--grey-100);
  display: flex;
  flex-direction: column;

}

.btn {

}

.directory__columnName {

}

.directory__list {

}

.directory__item {

}

.directory__itemControls {

}

.directory__controlButton {

}
.directory__newItem {

}

.directory__addField {

}

.directory__addBtn {
  
}