/* ----------------------------------------------------- */
/* Поправить стили по готовности макета */
/* ----------------------------------------------------- */

.description {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.description__text {
  font-family: var(--TTNorms);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--grey-600);
  margin: 0;
  width: 600px;
  word-wrap: break-word;
}

.description__link {
  font-family: var(--TTNorms);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0340DF;
  margin: 0;
}