.description {
	display: flex;
	flex-direction: column;
	gap: 20px 0;
}

.description__text {
	max-width: 600px;
	margin: 0;

	word-wrap: break-word;

	color: var(--grey-600);

	font-family: var(--TTNorms);
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
}

.description__link {
	margin: 0;
	background-image: url("../../../../images/document-icon.svg");
	background-repeat: no-repeat;
	background-size: 18px 20px;
	background-position: left center;
	color: var(--link);
	box-sizing: border-box;
	padding: 0 0 0 36px;
	width: fit-content;
	font-family: var(--TTNorms);
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	line-height: 26px;
	transition: 0.5s;
}

.description__link:hover {
	color: var(--link-hover)
}
