.header {
	display: grid;
	align-items: center;

	box-sizing: border-box;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px 40px;
	gap: 60px;
	grid-template-columns: auto 1fr auto auto;
}

.header__authMenu {
	justify-self: flex-end;
}

.header__profile {
	position: relative;
}

.header__profileMenu {
	position: absolute;
	z-index: 3;
	top: 70px;
	right: 0;
}

button.header__profileButton {
	position: relative;

	overflow: hidden;

	width: 30px;
	height: 30px;
	padding: 0;

	border: none;

	/* background-image: url("../../images/profile-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; */
	border-radius: 50%;
}
