.header {
	display: grid;
	align-items: center;

	box-sizing: border-box;
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	padding: 50px 40px;
	gap: 60px;
	grid-template-columns: auto 1fr auto auto;
}

.header__authMenu {
	justify-self: flex-end;
}
